@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: "Fredoka One";
    src: url("/fonts/Fredoka-One.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
